body {
  font-family: "Poppins", sans-serif;
  color: #25282b;
}

button {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

span {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
